/* Sticky footer styles
 -------------------------------------------------- */
body, h1, h2, h3, h4, h5, h6, small, table, p, div, span, form, input, textarea, select, pre, button {
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
}
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -51px;
    /* Pad bottom by footer height */
    padding: 0 0 51px;
    background: url(../img/auth_bg.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Set the fixed height of the footer here */
#footer {
    height: 51px;
}

/* Header & Footer view CSS
 -------------------------------------------------- */
#wrap > .container {
    padding: 60px 15px 0;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #895117;
    border-radius: 0;
}

.navbar-brand {
    /*padding: 0;*/
}

.navbar-brand > img {
    height: 30px;
}

.navbar a {
    color: #fff;
}

.navbar .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar .nav li a:hover,
.navbar .nav li a:focus,
.navbar .nav li.active {
    outline: 0;
    color: #fff;
    background-color: rgba(255,255,255,.2);
}

.navbar-default .navbar-toggle {
    border: 0;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    outline: 0;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(255,255,255,.2);
    color: orange;
}

.navbar-default .dropdown-menu > li > a:hover, 
.navbar-default .dropdown-menu > li > a:focus, 
.navbar-default .dropdown-menu > li > a:active {
    color: orange;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff; 
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff; 
    background-color: rgba(255,255,255,.2);
}
}

#footer {
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: #895117;
}

#footer > .container > p {
    margin: 0;
    line-height: 50px;
    color: #ffffff;
}

/* Auth page CSS
 -------------------------------------------------- */
.auth-content {
    padding: 20px 0;
}